<div id="pokemonsContainer" ng-controller="pokemonsCtrl">
  <div class="row">
    <div ng-repeat="pokemon in pokemons" class="col-xs-12 col-md-6">
      <img src="bower_components/pokemon-sprites/sprites/pokemon/{{ pokemon.id }}.png">
      <a ng-if="!myPokemons" href="pokemons/{{ pokemon.id }}" class="pokemonName">{{ pokemon.name }}</a>
      <a ng-if="myPokemons" href="me/pokemons/{{ pokemon.id }}" class="pokemonName">{{ pokemon.name }}</a>
      <span class="addRemovePokemonList">
        <i ng-show="myPokemon(pokemon.id)" ng-click="removePokemon(pokemon.id)" class="fa fa-times" style="color: #bd2110;"aria-hidden="true"></i>
        <i ng-show="!myPokemon(pokemon.id)" ng-click="addPokemon(pokemon.id)" class="fa fa-plus" style="color: green;" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="row paginationContainer">
    <div class="col-xs-4 col-md-5 paginationPrev">
      <button ng-disabled="pagination.disable" ng-click="pagination.pageNumber = Math.max(pagination.min, pagination.pageNumber - 1); page()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
    </div>
    <div class="col-xs-4 col-md-2 paginationCurrent">
      <input type="range" style="display: none!important;" ng-model="pagination.pageNumber" min="{{ pagination.min }}" max="{{ pagination.max }}">
      <input ng-disabled="pagination.disable" type="number" class="form-control" ng-enter="page()" ng-model="pagination.pageNumber">
    </div>
    <div class="col-xs-4 col-md-5 paginationNext">
      <button ng-disabled="pagination.disable" ng-click="pagination.pageNumber = Math.min(pagination.max, pagination.pageNumber + 1); page()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
